@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: black;
    color: white;
    padding: 0.3em;
}

* {
    &::selection {
        background-color: white;
        color: black;
    }
}

a {
    text-decoration: underline;

    &:hover {
        color: black;
        background-color: white;
    }
}

.header {
    border-bottom: 1px solid white;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}

.projects-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
}

.project-container {
    border: 1px solid white;
    padding: 0.5em;
    display: flex;
    flex-direction: column;

    .project-name, .project-dates {
        line-height: 1.3em;
    }

    .project-name {
        font-size: 135%;
    }

    .project-dates {
        font-size: 120%;
        margin-bottom: 0.7em;
    }

    .project-description {
        flex-grow: 1;
    }

    .project-info {
        border-top: 1px solid white;
        padding-top: 0.5em;
        margin-top: 0.5em;
        font-size: 90%;
        text-align: center;
    }
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ul {
    list-style: square;
}

ul, ol {
    margin-left: 1.5em;
}

ol {
    list-style: decimal;
}

.header-name {
    color: rgb(78, 96, 255);
    animation: loopingColor 30s linear infinite;
}

@keyframes loopingColor {
    0% {
        color: rgb(78, 96, 255);
    }
    30% {
        color: rgb(248, 29, 29);
    }
    60% {
        color: rgb(32, 180, 32);
    }
    90% {
        color: rgb(50, 50, 224);
    }
    100% {
        color: rgb(160, 51, 187);
    }
}

@media screen and (max-width: 1250px) {
    .projects-list {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 600px) {
    .projects-list {
        grid-template-columns: auto;
    }
}